In [1]:
import pandas as pd
import numpy as np
from google.cloud import translate

# Instantiates a client
translate_client = translate.Client(target_language='en')

In [2]:
dat = pd.read_csv('../Avito-Demand-Prediction-Challenge/data/train.csv', usecols=['title','description'])

In [13]:
text = dat.title

In [17]:
translation = translate_client.translate(text[:10], source_language='ru')
dat_eng = pd.DataFrame(translation)

In [18]:
dat_eng.head()

                   input             translatedText
0  Кокоби(кокон для сна)  Kokobi (cocoon for sleep)
1      Стойка для Одежды           Rack for Clothes
2         Philips bluray             Philips bluray
3             Автокресло                   Car seat
4         ВАЗ 2110, 2003             VAZ 2110, 2003

In [21]:
text[:1000].apply(lambda x:translate_client.translate(x, source_language='ru')['translatedText'])

0                              Kokobi (cocoon for sleep)
1                                       Rack for Clothes
2                                         Philips bluray
3                                               Car seat
4                                         VAZ 2110, 2003
5                                            Auto cradle
6           Water heater 100 liters stainless steel flat
7                                      Boyfriends colins
8                                                  Dress
9                       Half boots chamois natur.Bambini
10                   1-to the apartment, 25 m ², 2/2 fl.
11                                                 Jeans
12                  Atlases and Contour maps for Grade 8
13                                     Monitor acer 18.5
14                      German Shepherd puppies for sale
15                                     Women&#39;s dress
16                                 Chevrolet Lanos, 2008
17                                    Volumetric digit 2
18                                Spring jacket (autumn)
19                                        Hire a cottage
20                   2-to the apartment, 44 m ², 5/5 fl.
21                                              Mink hat
22                                      Ford Focus, 2005
23                                        Shoes moschino
24                                      Bravecto tablets
25                              Pinky Pai My Little Pony
26                                             Lambriken
27                                                 Boots
28                           I&#39;m selling a new dress
29                                     Crockid Sandpiper
                             ...
970                                  Packets for packing
971                                      Ravioli machine
972          Bandage Orlett on the knee joint RKN-202 XL
973                                          Chairs ikea
974                    Asus ZenFone 2 laser ze500kl 16gb
975                             Bedspread-blanket summer
976                                 Buy 2-room apartment
977                  2-to the apartment, 38 m ², 2/2 fl.
978         Mobile machine for turning locomotive wheels
979                Repair and maintenance of PVC windows
980                                    Textbook for sale
981                                             Sony PS3
982                                 Children&#39;s Dress
983                                                Dress
984                                                  Bra
985                                I&#39;ll give the cat
986                                     Netbook acer ze6
987                                 Bergauf Bottom Floor
988                                 Spring-autumn jacket
989                                Demagogue&#39;s boots
990                             Beautiful room megaphone
991    Garbage removal, dump truck delivery from 1t u...
992                             Skirt of Kira Plastinina
993                                        Italian shoes
994                   Set on a statement for a gentleman
995                     I&#39;m looking for Adidas shoes
996                       Selling disk lara croft to psp
997              Cottage 150 m² on a plot of 12 hundred.
998                                    Hyundai i30, 2012
999                                         Rocks window
Name: title, Length: 1000, dtype: object

In [26]:
len(text)/1000 * 3 / 60

75.1712